.identity-selector {
  display: flex;
  flex-direction: column;
  margin: 0 0.75rem;
}

.set-identity {
  margin-top: 2rem;
  color: #ffffff;
  background-color: #00aaaa;
}

.identity-list {
  padding: 10px 15px;
  background-color: #bbbbbb;
  border: 2px solid #000000;
  box-shadow: 0 0 0 5px, 11px 13px 0 4px #000000;

  button:not(.set-identity) {
    white-space: nowrap;
    display: block;
    margin: auto;
    width: 100%;
    cursor: pointer;
    background-color: #bbbbbb;
    border: none;
    font-size: 18px;
    line-height: 20px;
    text-align: left;
    box-shadow: none;

    &:before {
      content: ">> ";
    }

    &:after {
      content: unset;
    }

    &:hover,
    &:focus {
      background-color: #000000;
      color: #bbbbbb;
    }
  }

  button.selected-identity {
    color: #ffffff;
    background-color: #00aaaa;
  }

  .custom-identity-input {
    width: 100%;
    font-size: 18px;
    margin-top: 0.5rem;
  }

  .custom-identity-warning {
    text-align: center;
    color: #ffffff;
    background-color: #aa0000;
    padding: 9px 0;
    border: 4px double #bbbbbb;
  }

  .custom-identity-warning-header {
    text-transform: uppercase;

    &:before {
      content: ">> ";
      color: #fefe54;
    }
    &:after {
      content: " <<";
      color: #fefe54;
    }
  }
}

.identity-chosen {
  width: 100%;
  text-align: center;
  padding: 16px 20.8px;
  margin: 0 0.75rem;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #00aaaa;
  border: 4px double #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 0 0 4px #00aaaa;
}
