@font-face {
  font-family: "DOS";
  src: url("fonts/Fixedsys500c.eot");
  src: local("☺"), url("fonts/Fixedsys500c.woff") format("woff"),
    url("fonts/Fixedsys500c.ttf") format("truetype"),
    url("fonts/Fixedsys500c.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: unset;
  font-family: DOS, Monaco, Menlo, Consolas, "Courier New", monospace;
  font-weight: 300;
}

body {
  color: #bbbbbb;
  background-color: #000084;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
  color: #000000;
  background-color: #bbbbbb;
  border: none;
  padding: 14px 24px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-align: center;
  -webkit-box-shadow: 10px 10px 0 #000000;
  -moz-box-shadow: 10px 10px 0 #000000;
  box-shadow: 10px 10px 0 #000000;
  white-space: normal;

  &:before {
    content: "< ";
  }

  &:after {
    content: " >";
  }

  &:hover,
  &:focus,
  &:disabled {
    color: #ffffff;
    text-decoration: none;
    background-color: #555555;
  }

  &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transform: translate(4px, 4px);
  }
}

.selected-generator {
  color: #ffffff;
  background-color: #00aaaa;
}

.link {
  background: transparent;
  padding: 0;
  margin: 0;
  color: #fefe54;
  box-shadow: none;

  &:before {
    content: "";
  }

  &:after {
    content: "";
  }

  &:hover,
  &:focus {
    color: #fefe54;
    background-color: #aa5500;
  }

  &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    transform: none;
  }
}

input[type="text"],
textarea {
  background-color: #bbbbbb;
  border: 0;
  border: 2px solid #000000;
  margin-bottom: 1rem;
  font-size: 20px;
}
